*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header{
  margin: 15px;
}

.logo{
  font-size: 3.2rem;
  color: #D6000D;
  font-weight: bold;
}

.logo span{
  color: #000000;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 20px;
  align-items: center;
}

nav ul li{
  font-size: 1.5rem;
}

nav ul li:last-child{
  background-color: #D6000D;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 8px;
}

main{
  display: flex;
  flex-direction: column;
}

main section{
  margin: 70px 100px;
  display: flex;
  justify-content: center;
}

img{
  width: 35vw;
}

.content{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

p{
  margin-top: 90px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

h1{
  color: #D6000D;
  font-size: 3.7rem;
  margin-top: 10px;
}

button{
  color: #fff;
  background-color: #D6000D;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  width: 25vw;
  font-size: 1.4rem;
  cursor: pointer;
}

.section-features{
  display: inline;
}

.features{
  display: flex;
  justify-content: space-between;
}

.list-features{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 80px;
  
}

.list-features li {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.fa-check-circle{
  color: #D6000D;
  margin-right: 30px;
}

.features img{
  margin-right: 40px;
}

.contact{
  margin-left: 40px;
}

input{
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.4rem;
  width: 19vw;
  margin-top: 15px;
}

.button-call{
  width: 19vw;
  padding: 15px;
  margin-left: 10px;
}

.experience{
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  display: flex;  
  width: 40vw;
  word-wrap: break-word;
}

section .experience:last-child{
  margin-left: 40px;
}

.circle{
  background-color: #D6000D;
  margin-left: 30px;
  margin-top: 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex: .2;
}

.infos{
  flex: .7;
  margin-left: 20px;
}

.infos p{
  font-size: 1rem;
  font-weight: normal;
  margin-top: 40px;
}

.infos h2{
  font-weight: normal;
  margin: 15px 0 0;  
}

.infos span{
  font-weight: bold;
  margin-bottom: 20px;
}

footer{
  background-color: #000000;
  color: #ffffff;
  padding: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  height: 20vh;
  font-size: 1.2rem;
}

footer section{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 30px;
}

footer .logo {
  color: #ffffff;
  margin-bottom: 10px;
}


h3{
  margin: 20px 0;
  font-size: 1.7rem;
}

address span{
  margin-bottom: 10px;
}

address span:last-child{
  text-decoration: underline;
}

.social-medias{
  display: flex;
  justify-content: space-between;
}

.social-medias i{
  font-size: 2.5rem;
  color: #D6000D;
}
